<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="MW.Feature.FormConditions.Pipelines.Initialize.SetCustomModelBinders, MW.Feature.FormConditions" patch:after="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.Initialize.SetModelBinders, Sitecore.ExperienceForms.Mvc']" resolve="true" />
      </initialize>
    </pipelines>
    <settings>
      <setting name="MW.Feature.FormConditions.AllowedFields" value="Files, ItemId, Value, ConfirmEmail, ConfirmPassword"/>
      <setting name="MW.Feature.FormConditions.EnableFieldWhitelisting" value="true"/>

    </settings>
  </sitecore>
</configuration>